:root {
    --white: #f0f0f0;
    --black: #0c0c0c;
    --gray-1: #707070;
    --gray-2: #505050;

    --green-1: #48f0c0;
    --green-2: #00a0a0;
    --green-3: #1b7071;
    --green-4: #215555;

    --selection-background: #14746c;
}

::-moz-selection {
  background: var(--selection-background);
  color: var(--white)
}
::selection {
  background: var(--selection-background);
  color: var(--white)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--white);
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: var(--white);
}

nav {
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--green-2);
  width: 100%;
  padding: 10px 10px 0 10px;
}

.nav-links {
  display: flex;
  margin: 0 20px 0 0;
}

.nav-links a {
  color: var(--white);
  padding: 3px 6px;
  margin: 0 3px;
}

.nav-links a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 360px) {
  nav {
    justify-content: center;
  }
  .nav-links {
    margin: 0;
  }
}

#welcome-section {
  width: 100%;
  height: 100vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  overflow: hidden;
  position: relative;
}

.background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: 
      linear-gradient(
      #000 70%,
      var(--black)
      );
}

.background-move {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500%;
  z-index: -1;
  background: 
      repeating-linear-gradient(
      65deg,
      transparent,
      transparent 15px,
      #010606 15px,
      #071d19 20px
      ), 
      repeating-linear-gradient(
      -65deg,
      transparent,
      transparent 15px,
      #010606 15px,
      #071b17 20px
      );
  animation-name: movement;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes movement {
  0%   {transform: translateY(0);}
  100% {transform: translateY(900px);}
}

.name {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 40px;
}

.leonardo-block {
  display: inline-block;
}

.leo {
  background-color: var(--selection-background);
  padding: 2px 0 3px 10px;
}

.mathot-block {
  display: inline-block;
}

.mathot {
  padding: 2px 0 3px 10px;
}

.subheading {
  background-color: rgba(0, 0, 0, 0.65);
  color: var(--green-2);
  font-size: 1.2rem;
  padding: 0 10px;
}

.rwd-link {
  color: var(--green-2);
  font-weight: bold;
}

.rwd-link:hover {
  color: var(--green-1);
}

.fcc-link {
  color: var(--green-2);
  font-style: normal;
  font-family: Roboto Mono, sans-serif;
  text-decoration: none;
}

.fcc-link:hover {
  color: var(--green-1);
}

section {
  padding: 60px 10px;
}

#projects {
  background: var(--black);
}

.heading {
  margin-bottom: 50px ;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  visibility: hidden;
}

.flex > * {
  visibility: visible;
  transition: opacity 0.5s;
}

.flex .project {
  flex: 0 1 300px;
}

@media (max-width: 550px) {
  .flex .project {
    flex: 0 1 400px;
  }
}

.project-tile {
  background-color: var(--green-3);
  border-radius: 10px 10px 30px 10px;/*the left bottom corner is behind the code button*/
  height: 400px;
  position: relative;
  top: 0;
  border: 2px solid var(--black);
  --border-var: var(--black);
  transition: border 0.5s ease-out;
}

.project-tile:hover {
  border: 2px solid var(--green-1);
  --border-var: var(--green-1);
}

/*.back is here to make the entire tile clickable*/
.back {
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.project-image {
  position: absolute;
  left: 0;
  top: 15%;
  z-index: 3;
  height: 60%;
  width: 100%;
  object-fit: cover;
  border-top: 3px solid var(--black);
  border-bottom: 3px solid var(--black);
}

.name-cont {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  color: var(--white);
  width: 70%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.code-cont {
  position: absolute;
  bottom: -2px;
  right: -2px;
  z-index: 4;
  background-color: var(--green-4);
  width: 30%;
  height: 40%;
  border-radius: 10px 0 10px 0;
  border-top: 2px solid var(--border-var);
  border-left: 2px solid var(--border-var);
  border-bottom: 2px solid var(--black);
  border-right: 2px solid var(--black);
  transition: 
    border 0.5s ease-out, 
    background-color 0.5s;
}

.code-cont:hover {
  background-color: var(--black);
  border: 2px solid var(--white);
}

.code-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#profile-link {
  color: var(--white);
  text-decoration: none;
}

/* CODE SYMBOL */
.code-symbol {
  font-size: 2rem;
  font-weight: bold;
  color: var(--green-2);
}

/* PLUS SYMBOL */
.show-more-symbol {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1rem;
  display: inline-block;
  transform: translate(0, 5px);
  margin-right: 6px;
  color: var(--green-2);
}

/* EMAIL SYMBOL */
.email-symbol {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 6px;
  color: var(--green-2);
}

.button {
    display: block;
    margin: 50px auto 0 auto;
    border: 2px solid transparent;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 0 10px 0 10px;
    transition: border 0.5s ease-out;
}

.button:hover {
  border: 2px solid var(--green-1);
}

#contact {
  background-color: var(--green-3);
}

#my-email {
  color: var(--green-1);
}

footer {
  border-top: 3px solid var(--green-2);
  background-color: var(--green-4);
  color: var(--white);
  padding: 60px 20px;
  font-size: 0.8rem;
}

.fcc-link-footer {
  color: var(--white);
}

.fcc-link-footer:hover {
  color: var(--green-2);
}